.auction-card-container {
	display: flex;
	justify-content: space-between;
	padding: 10%;
	.auction-image-container {
		width: 50%;
		// display: none;
		.auction-image {
			max-width: 100%;
		}
	}
	.auction-info {
		width: 50%;
		display: block;
		color: #564c2e;
		margin-left: 15%;
		h1 {
			font-family: "Bembo";
			font-style: normal;
			font-weight: 600;
			font-size: 2.5rem;
		}
		p {
		}
	}
}
