.auction-card-container {
	display: flex;
	justify-content: space-between;
	padding: 10%;
	.auction-image-container {
		width: 50%;
		// display: none;
		.auction-image {
			max-width: 100%;
		}
	}
	.auction-info {
		width: 50%;
		display: block;
		color: #564c2e;
		margin-left: 15%;
		h1 {
			font-family: "Bembo";
			font-style: normal;
			font-weight: 600;
			font-size: 2.5rem;
		}

		.bid-amount {
			height: 2.5rem;
			width: 80%;
			border-radius: 0px;
		}
		.auction-bid-button {
			height: 2.5rem;
		}
		.auction-bid-buttons {
			padding: 1.5rem;
			.auction-bid-button {
				width: 45%;
				border-radius: 0px;
			}
		}
		.subscribe-to-art-span {
			height: 2.5rem;
			border-radius: 0px;
			.subscribe-to-art-input {
				height: 2.5rem;
				border-radius: 0px;
			}
			.subscribe-to-art-btn {
				height: 2.5rem;
				border-radius: 0px;
			}
			.center-div {
				width: 100%;
				justify-content: center;
				align-items: center;
				display: flex;
			}
		}
		p {
			margin: 0;
			padding: 0;
		}
	}
}
